:root {
    --accent: rgb(4, 2, 156);
    --accent-02: rgba(4, 2, 156,0.2);
    --accent-dark: rgb(2, 0, 130);

    --note-card: var(--accent-dark);

    --border: rgba(0,0,0,0.1);
    --dark_gray: rgb(146,146,146);
    --hover: rgba(0,0,0,0.05);
    --note_hover: #dbdbdb;

    --pill: rgb(216, 216, 222);
    --pill-dark: rgb(191, 191, 197);
    --pill-text: rgb(26, 25, 26);

    --side_nav: #EFEFEF;
    --light_gray: rgba(0,0,0,0.3);

    --page_bg: #efefef;
    --text: #0c0c0c;

    --spinner: rgba(0,0,0,0.3);
    --context_bg: rgba(255,255,255,0.85);

    --mobile_nav: rgba(0, 0, 0, 0.03);
    --mobile_nav-border: rgba(0,0,0,0.08);

    --note_preview: rgb(102, 102, 102);

    --red: #ba000d;
}
[dark-theme='true'] {
    --page_bg: #000;
    --text: #dddddd;
    --border: #393939;
    --side_nav: rgb(38, 38, 38);

    --accent: rgb(167, 166, 231);
    --accent-02: rgba(167, 166, 231, 0.2);
    --accent-dark: rgb(179, 178, 238);

    --note-card: rgb(135, 134, 207);

    --hover: rgba(255,255,255,0.1);
    --note_hover: rgba(45,45,45);

    --spinner: var(--border);

    --mobile_nav: rgba(45,45,45,0.85);
    --mobile_nav-border: rgba(60,60,60,0.95);

    --context_bg: rgba(30,30,30,0.85);
    --light_gray: rgba(255,255,255,0.25);

    --note_preview: rgb(140, 140, 140);

    --red: #ef4d58;
}
* {
    box-sizing: border-box;
}
svg {
    fill: inherit;
}
button {
    font-weight: normal;
    letter-spacing: normal;
    border: none;
    background: none;
    cursor: pointer;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: var(--page_bg);
    color: var(--text);

    font-family: Roboto;
}
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    max-width: 1280px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}
header {
    width: 100%;
    height: 72px;
    
    display: flex;
    align-items: center;
    
    gap: 32px;
}
.notes-logo {
    font-weight: bold;
    font-size: 28px;
}
header a {
    font-size: 14px;
    cursor: pointer;
}
.link-login {
    color: var(--page_bg);
    background-color: var(--accent);
    padding: 8px 16px;
    border-radius: 100px;
    
    margin-left: auto;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 58px;
    margin: 0;
    line-height: 1.1;
}
.pill-promo {
    display: flex;
    padding: 4px 4px 4px 12px;
    background-color: var(--pill);
    font-size: 12px;
    gap: 8px;
    align-items: center;
    border-radius: 100px;
    height: 32px;
    font-weight: bold;
    color: var(--pill-text);

    cursor: pointer;

    margin: 64px 0 24px 0;
}
.pill-promo img {
    width: 18px;
}
.pill-promo .arrow {
    background-color: var(--pill-dark);
    height: 24px;
    width: 24px;
    padding: 4px;
    flex-shrink: 0;
    border-radius: 100%;
    fill: var(--pill-text);
}

.text-short_description {
    text-align: center;
    color: gray;
    margin: 24px 0 0 0;
    line-height: 1.4;
}

.top-button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

    margin-top: 32px;
}
.top-button-row button {
    background-color: white;
    border-radius: 100px;
    padding: 12px 24px;
    font-size: 14px;
    box-shadow: 0 5px 20px 1px rgba(0,0,0,0.05);
    font-weight: bold;
}
.top-button-row button.accent {
    background-color: var(--accent);
    color: var(--page_bg);
}
.promo-desktop {
    max-width: 100%;
    margin-top: 48px;
}
.features {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 0 48px;
}
.feature {
    flex: 1;
}
.feature p {
    color: gray;
    font-size: 14px;
    margin-left: 10px;
    line-height: 1.4;
}
.feature-header {
    display: flex;
    align-items: center;
    gap: 12px;
    fill: var(--accent);
    border-left: 2px solid var(--accent);
    height: 20px;
    padding-left: 8px;
}
.feature-header h3 {
    font-size: 15px;
}
.feature-header svg {
    width: 20px;
}
.review-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 64px 0 64px 0;
}
.review {
    background-color: white;
    padding: 16px;
    border: 1px solid rgba(0,0,0,0.1);
    flex: 1;

    border-radius: 12px;
}
.review-header {
    display: flex;
    align-items: center;
}
.review-header img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100px;
    margin-right: 8px;
}
.review-header p {
    margin: 2px 0;
    font-size: 14px;
    color: gray;
}
.review-header p.name {
    font-weight: bold;
    color: var(--text);
    font-size: 16px;
}
.review-text {
    margin: 8px 0 0 0;
    font-size: 14px;
    line-height: 1.5;
}
.review-description {
    flex: 1;
}

.price-free {

}
.price-free li {
    list-style-image: url(/img/icons/check-bold.svg);
}

footer {
    background-color: rgba(0,0,0,0.05);
    width: 100vw;
    height: 64px;
    display: flex;
    align-items: center;
    margin-top: 64px;
}
footer div {
    color: gray;
    width: 1280px;
    font-size: 14px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}