@media screen and (max-width: 1100px) {
    .features {
        gap: 16px;
    }
}

@media screen and (max-width: 767px) {
.promo-mobile {
    display: block;
    margin-top: 48px;
    width: 300px;
    max-width: calc(100% - 16px);
    border-radius: 8vmin;
    box-shadow: 0 5px 20px 1px rgba(0,0,0,0.05);
}
.promo-desktop {
    display: none;
}
h1 {
    font-size: 32px;
}
.text-short_description {
    font-size: 14px;
}
.main-content {
    max-width: none;
    padding: 0 16px;
}
.top-button-row {
    gap: 16px;
}
.features {
    flex-direction: column;
    margin-top: 48px;
    gap: 16px;
}
}